*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c3e50;
}
.calculator{
    background: black;
    padding: 20px;
    border-radius: 20px;
    width: 260px;
}
#display{
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button{
    height: 55px;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    background: #333;
    color: white;
    cursor: pointer;
}
.operator{
    background: orange;
}
.equal{
    background: orange;
}
.zero{
    grid-column: span 2;
    border-radius: 30px;
}
button:hover{
    opacity: 0.8;
}